<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="weather"> <!--   --> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Weather</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    </head>
<body>
       <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please, <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<main ng-controller="WeatherForecastCtrl">		
		<div class="input">				
			<input type="text" ng-model="city" autofocus placeholder="Weather in..">
		</div>
		<h1 ng-show="city">Weather in {{city}}, {{loc.city.country}}</h1>
		<section class="forecast">
			<div ng-repeat-start="day in forecast" ng-if="$first" ng-show="city" class="today">
	      <h2>
	        Today
	        <br>{{day.weather[0].main}}
	        <span ng-hide="checked"><br>{{day.temp.day | number: 0}}°C</span>
	        <span ng-hide="!checked"><br>{{day.temp.day *(9/5)+32 | number: 0}}°F</span>
	        <br>{{day.humidity}}%
	        <span ng-hide="checked"><br>{{day.speed | number: 2}} km/h</span>
	        <span ng-hide="!checked"><br>{{day.speed * 0.621371 | number: 2}} mph</span>
	      </h2>
			</div>
			<div ng-repeat-end ng-show="city" ng-if="!first">
	      <h3>
	        {{day.dt *1000 | date: 'EEEE'}}
	        <br>{{day.weather[0].main}}
	        <span ng-hide="checked"><br>{{day.temp.day | number: 0}}°C</span>
	        <span ng-hide="!checked"><br>{{day.temp.day *(9/5)+32 | number: 0}}°F</span>
	        <br>{{day.humidity}}%
	        <span ng-hide="checked"><br>{{day.speed | number: 2}} km/h</span>
	        <span ng-hide="!checked"><br>{{day.speed * 0.621371 | number: 2}} mph</span>
	      </h3>
			</div>
		</section>
		<div class="switch">
    	imperial <input type="checkbox" ng-model="checked">  
  	</div>
	</main>	
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
	<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js'></script>
	<script src="js/app.js"></script>
</body>
</html>